node_modules
npm-debug.log
.git
.gitignore
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.nyc_output
coverage
.vscode
.idea
*.log
*.tgz
.cache
dist
build
.replit
replit.nix
.local
attached_assets